.house-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 8.1%;
  margin-bottom: 0;
  display: flex;

}

.house-box {

  width: 51%;
  margin: 16px 2rem;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-right: 0;
  // background-color: #333;


  .houses {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y: scroll;
    height: 530px;
    padding-bottom: 5rem;
  }
}

.map-container{
  margin-top: 17px;
  width: 45%;
  height: 100vh;
  // background: rgb(209, 101, 101);
}

@media screen and (max-width: 720px) {
  .house-container {
    .rent-ava-text {
      margin-left: 3rem;
      font-size: 1.5rem;
      margin-bottom: 0;
    }
  }

  .house-box {
    width: 90%;

    .houses {
      justify-content: center;
      align-items: center;
    }
  }
}