*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{

    font-family: 'Open Sans', sans-serif;
  
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.buy-route{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
}
.buy-route h1{
  font-size: 35px;
  color: rgb(197, 135, 20);
}